vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
.idea/InstantMessage.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/php.xml
.idea/vcs.xml
.idea/IM.iml
.DS_Store
.idea/php.xml
.idea/vcs.xml
.idea/php.xml
